*.class
!.classpath
.metadata
*~
rendering-cache
.rendering-cache
http-cache
.http-cache
temporary-data
cachedir
.DS_Store
_deploy
_build
generated_build.xml
generated_ant.sh
generated_ant.bat
target
*.xcuserstate
*.dex
*.apk
*.ap_
*.xcuserdatad
.xcodeproj/ !*.xcodeproj/project.pbxproj
*.xcactivitylog
*.d

converter/compile_errors.txt

.gwt/
gwt-unitCache/
war/com.glob3mobile.org.glob3.mobile.OceanWebGLDemo/
war/WEB-INF/classes/
war/WEB-INF/deploy/

*.~lock
